main{
    width: 100%;
    padding: 3em 7.6rem !important;
}
.image-profile{
    width: 100%;
    max-width: 25rem;
    height: auto;
    overflow: hidden;
    margin: 0 auto !important;
    box-shadow: 3px 5px 12px 0 rgba(0, 0, 0, 1.14);
}
.image-profile img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.content-profile-child{
    height: 500px;
    padding: 1em 2em !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
@media screen and (max-width:359px) {
    .content-profile-child{
        height: auto;
        padding:0.5em 0.3em !important;
    }
}
.content-profile-child div{
    font-size: 1rem;
}
.content-profile-child .education{
    display: flex;
}

@media screen and (max-width:900px) {
    main{
        flex-direction: column !important;
    }
}
@media screen and (max-width:700px) {
    main{
        padding: 3em 2.6rem !important;
    }
}